/Stocks/Stocks.Application/obj
/Stocks/Stocks.Application/bin

/Stocks/Stocks.Presentation/obj
/Stocks/Stocks.Presentation/bin

/Stocks/Stocks.Data/obj
/Stocks/Stocks.Data/bin

/Stocks/Stocks.UnitTests/obj
/Stocks/Stocks.UnitTests/bin
